body{
    background-color: aqua;
}
h1{ color: black;
text-align: center;
font-size: 60px;
}
p{
    text-align: center;
    font-size: 50px;
}
#imagem1{
    width: 70%;
    height: 15%;]
    border: 2px;
}